# Required
scipy==1.1.0
# numpy==1.14.5
numpy==1.16.0
configargparse==0.14.0
matplotlib==3.1.0
opencv-python
scikit-learn

# LP packages
cvxopt==1.2.3

# DL packages
torch==1.4.0
torchvision==0.5.0
tensorflow-gpu==1.15.0
#tensorflow-gpu

# Notebooks
jupyter==1.0.0
notebook==5.7.8
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
#jupyter-tensorboard==0.1.8
jupyter_contrib_nbextensions

# extra
showprogress==0.0.24
telepyth==0.1.6
requests==2.22.0
seaborn==0.9.0
lmdb
imageio
tqdm
prettytensor

# LP
lap==0.4.0
